In [1]:
%run "../../lib/init_py.py"

Root project dir is: /Users/Luqman/Documents/Projects/ledecision

In [30]:
#from lib.lefunctions import *
from bs4 import BeautifulSoup
import urllib
import codecs
import pandas as pd
import datetime
import numpy as np

In [2]:
from nba_py import game

df_g1 = pd.DataFrame(game.Boxscore("0041700401").player_stats())
df_g2 = pd.DataFrame(game.Boxscore("0041700402").player_stats())
df_g3 = pd.DataFrame(game.Boxscore("0041700403").player_stats())
df_g4 = pd.DataFrame(game.Boxscore("0041700404").player_stats())

In [3]:
#df_all.to_csv(r'pandas.txt', header=None, index=None, sep=' ', mode='a')

In [40]:
df_g1.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,0041700401,1610612739,CLE,Cleveland,2544,LeBron James,F,,47:32,19.0,...,4.0,4.0,8.0,8.0,1.0,1.0,5.0,2.0,51.0,-13.0
1,0041700401,1610612739,CLE,Cleveland,201567,Kevin Love,F,,39:04,9.0,...,2.0,11.0,13.0,1.0,0.0,0.0,1.0,1.0,21.0,-13.0
2,0041700401,1610612739,CLE,Cleveland,202684,Tristan Thompson,C,,20:16,1.0,...,2.0,3.0,5.0,0.0,0.0,1.0,1.0,3.0,2.0,-9.0
3,0041700401,1610612739,CLE,Cleveland,2747,JR Smith,G,,38:59,3.0,...,3.0,3.0,6.0,2.0,0.0,0.0,2.0,1.0,10.0,-22.0
4,0041700401,1610612739,CLE,Cleveland,201588,George Hill,G,,30:29,2.0,...,1.0,1.0,2.0,1.0,1.0,0.0,0.0,5.0,7.0,-11.0

In [53]:
df_sum = df_g1.filter(['PLAYER_ID','PLAYER_NAME'], axis=1)

In [90]:
#df_sum = pd.concat([df_sum, df_g1['PTS'], df_g1['REB'], df_g1['AST']], axis=1)
newcols = ['PTS', 'REB', 'AST']
for col in newcols:
    df_sum[col] = 0

In [91]:
df_sum.head()

   PLAYER_ID       PLAYER_NAME  PTS  REB  AST
0       2544      LeBron James    0    0    0
1     201567        Kevin Love    0    0    0
2     202684  Tristan Thompson    0    0    0
3       2747          JR Smith    0    0    0
4     201588       George Hill    0    0    0

In [ ]:
https://stackoverflow.com/questions/23911875/select-certain-rows-condition-met-but-only-some-columns-in-python-numpy
    https://stackoverflow.com/questions/36341081/counting-dates-in-a-range-set-by-pandas-dataframe

In [106]:
df_sum.is_copy = False
for pid in df_sum['PLAYER_ID']:
    #temp = df_g1[(df_g1['PLAYER_ID']==pid)]['PTS'] + df_g2[(df_g2['PLAYER_ID']==pid)]['PTS']
    #print(temp)
    df_sum[(df_sum['PLAYER_ID']==pid)]['PTS'] = 8
    #df_sum[(df_sum['PLAYER_ID']==pid)]['PTS'] = temp
    #print(df_sum[(df_sum['PLAYER_ID']==pid)]['PTS'])

/Users/Luqman/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4384: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/Users/Luqman/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4385: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)
/Users/Luqman/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [72]:
df_g2[(df_g2['PLAYER_ID']==2544)]['PTS']

0    29
Name: PTS, dtype: int64

In [ ]:
for player in df_sum['PLAYER_ID']:
    a=df_sum[(df_sum['PLAYER_ID']==add)]['PTS']
    print(a)

In [ ]:




df_sum[(df_sum[2544])]['PTS'] = df_sum[(df_sum[2544])]['PTS'] + df_g2[(df_g2[pid]==2544)]['PTS']

In [ ]:
for pid in df_sum['PLAYER_ID']:
    df_sum[(df_sum[pid]==2544)]['PTS'] = df_sum[(df_sum[pid]==2544)]['PTS'] + df_g2[(df_g2[pid]==2544)]['PTS']

In [38]:
col2sum = ['PTS', 'REB', 'AST']

for add in col2sum:
    df_sum[add] = df_sum[add] + df_g2[add] + df_g3[add] + df_g4[add]

In [39]:
df_sum

    PLAYER_ID       PLAYER_NAME    PTS   REB   AST
0        2544      LeBron James  143.0  42.0  38.0
1      201567        Kevin Love   62.0  28.0  20.0
2      202684  Tristan Thompson   29.0  16.0   0.0
3        2747          JR Smith   35.0  17.0   6.0
4      201588       George Hill   70.0  15.0  14.0
5      201145        Jeff Green   32.0   9.0   7.0
6      203903   Jordan Clarkson   17.0   9.0   4.0
7        2594       Kyle Korver    7.0  14.0   2.0
8     1626204   Larry Nance Jr.   14.0  13.0   1.0
9     1627790        Ante Zizic    4.0   1.0   1.0
10    1626224        Cedi Osman   14.0   8.0   1.0
11     203918       Rodney Hood    6.0   3.0   1.0
12     101181     Jose Calderon    NaN   NaN   NaN
13     201142      Kevin Durant  108.0  35.0  32.0
14     203110    Draymond Green   51.0  41.0  21.0
15    1626172      Kevon Looney   34.0  17.0   0.0
16     202691     Klay Thompson   67.0  11.0   3.0
17     201939     Stephen Curry   70.0  18.0  22.0
18    1628395       Jordan Bell   34.0  17.0   5.0
19     201156        Nick Young   20.0   5.0   3.0
20       2733  Shaun Livingston   12.0   6.0   5.0
21    1627775     Patrick McCaw   14.0  12.0   5.0
22       2561        David West    NaN   NaN   NaN
23     201580      JaVale McGee    NaN   NaN   NaN
24    1626188        Quinn Cook    NaN   NaN   NaN
25       2585     Zaza Pachulia    NaN   NaN   NaN

In [10]:
temp = df_g1.filter(['MIN'], axis=1)

In [20]:
temp2 = pd.to_timedelta(temp['MIN'].radd('00:'))

In [ ]:
df_g1.groupby(['PLAYER_NAME','PTS']).sum()

In [ ]:
game1.head()

In [ ]:
game1[(game1['TEAM_CITY']=='Cleveland') & (game1['START_POSITION'] != "")]

In [ ]:
df_g1_cl = df_g1[(df_g1['TEAM_CITY']=='Cleveland')].drop(['GAME_ID', 'START_POSITION'], 1)
df_g2_cl = df_g2[(df_g2['TEAM_CITY']=='Cleveland')].drop(['GAME_ID', 'START_POSITION'], 1)

In [ ]:
df2 = df[['A', 'B', 'C']].sum(axis=1).to_frame(name='X')
df2['Y'] = df['D']


temp = pd.concat([df_g1_cl,df_g2_cl])

In [ ]:
df_g2_cl.add(df_g1_cl, fill_value=0)

In [ ]:
df_g1_cl.nlargest(5, 'PTS')

In [ ]:
df_g1_cl.nlargest(5, 'REB')

In [ ]:
df_g1_cl.nlargest(5, 'BLK')